.navbar{
    list-style-type: none;
    margin: 0;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 60px;
    overflow: hidden;
    font-size: 20px;
    box-shadow:  0 4px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li {
    float: left;
}

li a {
    display: block;
    color:black;
    font-style: oblique;
    font-family: "Trebuchet MS", Helvetica, Serif;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 27px;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
    text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
}

li a:hover {
    color: #A020F0;
}

.bottomline{
    margin-top: 0;
    padding-top: 0;
    height: 2px;
    width: 120%;
    border-bottom: 1px solid black;
    box-shadow: 1px;
}

.logo{
    width:auto;
    height:60px;
    padding-left: 630px;

}
.logo1{
    width:auto;
    height:60px;
    padding-left: 740px;

}


/*.navigation{
    background-color: #1A5276;
    height: 90px;
    border: 3px solid #2574A9;

}
.link{
    padding: 10px;
    display:inline-block;
    font-size: 20px;
    background-color: white;
    margin: 20px;
    margin-right: 0px;
    border: 2px solid #2574A9;
}

.link a{
    text-decoration: none;
    color: black;
}

.link:hover {
    background-color: #1B2631;
}

.link a:hover {
    color: white;
}*/

body {
    background-color: #85C1E9;
}

body {
    background-image: url("http://il3.picdn.net/shutterstock/videos/13000349/thumb/10.jpg"); 
}

h1{
    color: black;
    font-style: oblique;
    font-family: "Trebuchet MS", Helvetica, Serif;
    text-align: center;
    font-size: 40px;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}
h3{
    color:black;
    font-style: oblique;
    font-family: "Trebuchet MS", Helvetica, Serif;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 40px;

}

h4{
    color:black;
    font-family: "Trebuchet MS", Helvetica, Serif;
    text-align: center;
    padding-top: 30px;
    padding-bottom: -10px;
    font-size:20px;
}

h2{
    color:black;
    font-style: oblique;
    font-family: "Trebuchet MS", Helvetica, Serif;
    text-align: center;
    padding-top: 30px;
    padding-bottom: -10px;
    font-size:30px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}


.paragraph{
    width:500px;
    margin-left: 445px;
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 17px;

}

p{
    text-align: center;
}

#entry{
    margin-top: -30px;
    padding: 20px;
    text-align: left;
    line-height: 30px;
}
.image img{
    width:50%;
    height: auto;
    margin-left: 350px;
    border: 3px solid black;


}
button{
    width:200px;
    height:100px;
    background-color: #1A5276;
    border-radius: 10%;
    border: 2px solid #2574A9;
    color:white;
    font-size: 20px;
    border-radius: 10%;
    margin-left:590px;
}
#button{
    padding: 10px;
    display:inline-block;
    font-size: 20px;
    background-color: white;
    margin: 20px;
    margin-left: 570px;

}

#button a{
    text-decoration: none;
    color: black;
}

#button:hover {
    background-color: #1B2631;
}

#button a:hover {
    color: white;
}

.journal_entry{
    margin:10px;
    background-color: white;
    border-radius: 2%;
    border:2px solid black;  
}

.JournalImage img{
width:600px;
height:auto;
margin-top: -10px;
}
.JournalImage {
    margin-left: 350px;
}
#img2 img{
    width:auto;
    height:300px;
    margin-left:-150px;
}
#img4 img{
    width: 900px;
    margin-left: -100px;
}

.photo img{
    margin-top: 100px;
    width:400px;
    height:auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 470px;
    border:2px solid black; 

}

.info{
    margin-left: 250px;
    width:800px;
    background-color: white;
    border-radius: 4%;
    border:2px solid black;
}


