body {
    background-color: #85C1E9;
}

h1 {
    color: black;
    font-style: oblique;
    font-family: "Trebuchet MS", Helvetica, Serif;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

h4{
    color: white;
    font-style: oblique;
    font-family: "Trebuchet MS", Helvetica, Serif;
    text-align: center;
    padding-top: 28px;
    font-size: 20px;
}

h3{
    color: white;
    font-style: oblique;
    font-family: "Trebuchet MS", Helvetica, Serif;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}

#Home{
    padding: 10px;
    display:inline-block;
    font-size: 20px;
    background-color: white;
    margin: 20px;
    margin-left: 1200px;
    border: 2px solid #2574A9;
    border-radius: 10%;
}

#Home a{
    text-decoration: none;
    color: black;
}

#Home:hover {
    background-color: #1B2631;
}

#Home a:hover {
    color: white;
}

#SelectRhythm{
    text-align: center;
    vertical-align: center;
}


.DisneyButton{
    width: 100px;
    height: 30px;
    background-color: #22A7F0;
    margin: auto;
    cursor: pointer;
}

.AllegroButton{
    width: 100px;
    height: 30px;
    background-color: #22A7F0;
    margin: auto;
    cursor: pointer;
}

.ButtonSelected{
    width: 100px;
    height: 30px;
    background-color: #2574A9;
    margin: auto;
    cursor: pointer;
}

.draggable {
    width:145px; 
    height: 80px;
    background-color: blue;
    cursor: pointer;
    border-radius: 10%;
}

.Sidebar{
    width: 300px;
    height: 800px;
    overflow: scroll;
    white-space: nowrap;
    border: 2px solid #021a40;
    overflow-y: scroll;
    overflow-x:hidden;
    margin:20px;
    float: left;
}


.NoteSelection{
    width: 30px;
    height: 20px;
    background-color: #22A7F0;
    display:inline-block;
    border: 2px solid #2574A9;
    cursor:pointer;
    text-align: center;
}

.NoteSelectionSelected{
    width: 30px;
    height: 20px;
    background-color: #2574A9;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

button {
    width:100px;
    height:30px;
}

#playstop{
    float: right;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.Scroller{
    width: 800px;
    height: 200px;
    overflow: scroll;
    white-space: nowrap;
    border: 2px solid #021a40;
    overflow-y: hidden;
    overflow-x:scroll;
    margin:20px;
    float: right;
}

.DropBar{
    display: inline-block;
    width: 900px;
    height: 200px;
    padding: 0px;
}
.droppable {
    display: inline-block;
    margin-right: 10px;
    width:155px;
    height: 85px;
    border: 2px solid #021a40;
    margin:10px;   
    font-size: 20px;
    color:white;
    font-style: oblique;
    font-family: "Trebuchet MS", Helvetica, Serif;
    text-align: center;
}


.highlighted {   
    background-color:   #FFD700;
    position:static;
   /* padding-top: 28px;*/
    
}

.beat{
    height: 20px;
    margin-left: 0px;
    margin: 8px;
    padding: 0px;
}

.measure{
    display: inline-block;
    margin-right: 10px;
    width: 170px;
}

.WholeNote{
    width: 120px;
    height: 20px;
    background-color: black;
    display: inline-block;
    margin: auto;
}

.HalfNote{
    width: 60px;
    height: 20px;
    background-color: black;
    display: inline-block;
}
.DottedQuarter{
    width: 45px;
    height: 20px;
    background-color: black;
    display: inline-block;
}
.QuarterNote{
    width: 30px;
    height: 20px;
    background-color: black;
    display: inline-block;
}

.EighthNote{
    width: 15px;
    height: 20px;
    background-color: black;
    display: inline-block;
}

.SixteenthNote{
    width: 7.5px;
    height: 20px;
    background-color: black;
    display: inline-block;
}